/* * {
    outline: 1px solid #369;
} */

root {
    --mc: #16873e;
    --sc: #98b101;

}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 100px 0;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100px;
    transition: 0.5s;
}

.header.on {
    background: #fff;
    border-bottom: 1px solid #f9f9f9
}

.header:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.header.on:hover {
    border-bottom: 1px solid #f9f9f9
}

.header .inner {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: end;
    color: #f9f9f9;

}

.header.on .inner {
    color: #444;
}

.header .inner h1 img {
    width: 160px;
    height: auto;
}

.header .inner .gnb>ul {
    display: flex;
    gap: 40px;
    font-size: 22px;
    font-weight: 400;
}

.header .inner .gnb>ul>li {
    position: relative;
    padding: 0 15px;
}

.header .inner .gnb>ul>li::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    background: #fff;
    width: 0;
    height: 3px;
    transition: .5s;
}

.header.on .inner .gnb>ul>li::before {
    background: #98b101;
}

.header .inner .gnb>ul>li:hover::before {
    width: 100%;
}

.header .inner .service {
    display: flex;
    gap: 25px;
    font-size: 26px;
}

.main_visual .itm {
    position: relative;
}

.main_visual .itm h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 80px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f9f9f9;
    gap: 10px;
    transition: 1s;
    opacity: 0;

}

.main_visual .main_slide .slick-active h2 {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.main_visual .itm .btn {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-100px, 0);
    color: #f9f9f9;
    transition: 0.5s 1s;
    opacity: 0;
}

.main_visual .main_slide .slick-active .btn {
    transform: translate(-50%, 0);
    opacity: 1;
}

.main_visual .itm .btn a {
    position: relative;
}

.main_visual .itm .btn a::before {
    content: "";
    width: 60px;
    height: 1px;
    background: #f9f9f9;
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translate(0, -50%);
}

.main_visual .itm .btn a::after {
    content: "";
    width: 20px;
    height: 1px;
    background: #f9f9f9;
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translate(0, calc(-50% - 8px)) rotate(45deg);
}


.main_visual .bg1 {
    height: 100vh;
    background: url(../images/s1-bg-1_1.jpg) no-repeat center center/cover;
}

.main_visual .bg2 {
    height: 100vh;
    background: url(../images/s1-bg-1_2.jpg) no-repeat center center/cover;
}

.main_visual .bg3 {
    height: 100vh;
    background: url(../images/s1-bg-1_3.jpg) no-repeat center center/cover;
}

.main_visual .slick-dots {
    position: absolute;
    top: 50%;
    right: calc((100% - 1200px)/2 + 15px);
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_visual .slick-dots>* {}

.main_visual .slick-dots li button {
    padding: 7px;
    font-size: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid transparent
}

.main_visual .slick-dots li.slick-active button {
    border-color: #fff;
    padding: 8px;
    background-color: transparent;
}

.main_visual .dots {
    position: absolute;
    bottom: 150px;
    left: 50%;

    display: flex;
    gap: 30px;
    transform: translate(-50%, 0);
}

.main_visual .dots li {
    display: block;
    font-size: 15px;
    font-weight: 700;
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
}

.main_visual .dots li a {
    display: block;
    line-height: 50px;
    z-index: 999;
    padding: 0 15px;
}

.main_visual .dots li.on a {
    color: #fff;
}


svg {
    position: absolute;
    left: 0;
    top: 0;
}

.main_visual .dots li.on circle {
    stroke: #98b101;
    stroke-width: 3;
    fill: transparent;
    stroke-dasharray: 630;
    animation: stroke-ani 5s;
}

@keyframes stroke-ani {
    from {
        stroke-dashoffset: 630;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.main_content {
    padding: 100px 0;
}

.main_content .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.main_content .left {
    text-align: center;
    justify-content: center;
}

.main_content .title {
    margin: 0 0 70px 0;
}

.main_content .title h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 30px 0;
    position: relative;

}

.main_content .title h2::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 2px;
    background: #16873e;
    transition: 1.5s;
}

.main_content.on .title h2::before {
    width: 100%;
}

.main_content .title h2 span {
    color: #444;
    transition: 0.5s 1s;
}

.main_content.on .title h2 span {
    color: #16873e;
}

.main_content .title p {
    font-size: 22px;
    line-height: 1.4;
    padding: 0 10px;
}

.main_content .con {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 0 0 80px 0;

}

.main_content .con>li {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 80px;
    align-items: center;
}

.main_content .con .txt {
    width: 306px;
}

.main_content .con strong {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    color: #16873e;
    margin: 0 0 10px 0;
}

.main_content .con p {
    font-size: 22px;
    font-weight: 300;
}



.main_content .con .icon img {
    height: 80px;
}

.main_content .btn {
    font-size: 15px;
    font-weight: 700;
    transition: 0.5s;
}

.main_content .btn span {
    position: relative;
    width: 10px;
}

.main_content .btn span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(10px, -50%);
    width: 100%;
    height: 1px;
    background: #444;
}

.main_content .btn span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    transform-origin: right bottom;
    width: 9px;
    height: 1px;
    transform: rotate(45deg);
    background: #444;
}


.main_content .right {
    overflow: hidden;
}

.main_content .right img {
    width: 100%;
    height: 550px;
    transform: scale(1.2);
    transition: 2s;
}

.main_content.on .right img {
    transform: scale(1);
}

.main_area {
    position: relative;
    padding: 100px 0;
    min-height: 800px;
}



.main_area .box_list {
    position: absolute;
    inset: 0 0 0 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    text-align: center;
}

.main_area .box_list>li {
    position: absolute;
    inset: 0 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}

.main_area .box_list>li.on {
    z-index: 2;
    opacity: 1;
}

.main_area .box_list>li .inner {
    transform: translate(0, 100px);
    transition: 1s;
}

.main_area.on .box_list>li .inner {
    transform: translate(0, 0);
}

.main_area .inner figure {
    margin: 0 0 30px 0;
    align-items: center;
    justify-content: center;
}

.main_area .inner_txt {
    text-align: center;
    transform: translate(0, 50px);
    transition: 1s;
    opacity: 0;
}

.main_area .box_list>li.on .inner_txt {
    transform: translate(0, 0);
    opacity: 1;
}

.main_area .inner_txt h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.main_area .inner_txt p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

.main_area .box_list .box01 {
    background: #ddefc8;
}

.main_area .box_list .box01 h2 {}

.main_area .box_list .box02 {
    background: #d6ebf5;
}

.main_area .box_list .box03 {
    background: #cef6e9;
}



.main_area .dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50px);
    z-index: 998;
    display: flex;
    gap: 10px;
    transition: 1s 1s;
    opacity: 0;
}

.main_area.on .dots {
    transform: translate(-50%, 0);
    opacity: 1;
}

.main_area .dots li {
    border-radius: 50%;
    border: 1px solid #666;
    transition: 0.5s;
}

.main_area .dots li a {
    display: block;
    font-size: 18px;
    font-weight: 900;
    color: #666;
    padding: 11px 14px;
    transition: 0.5s;
}

.main_area .dots li.on a {
    color: #fff;
}

.main_area .dots li.on:nth-child(1) {
    background: #16873e;
    border: 1px solid #16873e;
}

.main_area .dots li.on:nth-child(2) {
    background: #0072c6;
    border: 1px solid #0072c6;
}

.main_area .dots li.on:nth-child(3) {
    background: #009089;
    border: 1px solid #009089;
}

.main_event {
    padding: 100px 0;
}

.main_event .event_title {
    margin: 0 0 30px 0;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 1s;
}

.main_event.on .event_title {
    transform: translate(0, 0);
    opacity: 1;
}

.main_event .event_title h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.main_event .name {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 30px 0;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 1s 0.5s;

}

.main_event.on .name {
    transform: translate(0, 0);
    opacity: 1;
}

.main_event .name li {
    /* outline: 1px solid #ddd; */
    text-align: center;
    line-height: 40px;
    position: relative;
    cursor: pointer;
}

.main_event .name li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: #16873e;
    transition: 0.5s;
    z-index: 3;
}

.main_event .name li:hover::before {
    width: 100%;
}

.main_event .name li a {
    font-size: 15px;
    font-weight: 500;
}


.itm_slide {
    padding: 200px 0;
    background: url(../images/s4-earth.png)no-repeat center center;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 1s 1s;
}

.main_event.on .itm_slide {
    transform: translate(0, 0);
    opacity: 1;
}

.itm_slide strong {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #16873e;
    transition: 0.5s;

}

.itm_slide .itm_box:hover strong {
    color: #fff;
}

.itm_slide p {
    font-size: 15px;
    font-weight: 300;
    word-break: keep-all;
}

/* .itm_slide .slick-slider {
    margin: 0 -15px;
    align-items: center;
} */

.itm_slide .itm_box {
    position: relative;
    height: 250px;
}

.itm_slide .itm_box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    width: calc(100% - 30px);
    height: 150px;
    transition: 0.5s;
}

.itm_slide .itm_box:hover a {
    background: #16873e;
    color: #fff;
}

.itm_slide .itm_box.slick-active a {
    height: 175px;
}

.itm_slide .itm_box.slick-center a {
    height: 200px;
}